.DS_Store

/source/Irrlicht/MacOSX/build
/source/Irrlicht/MacOSX/MacOSX.xcodeproj/project.xcworkspace
/source/Irrlicht/MacOSX/MacOSX.xcodeproj/xcuserdata

/source/Irrlicht/libpng/ci
/source/Irrlicht/libpng/contrib
/source/Irrlicht/libpng/projects
/source/Irrlicht/libpng/scripts
/source/Irrlicht/libpng/tests
/source/Irrlicht/libpng/loongarch
/source/Irrlicht/libpng/mips
/source/Irrlicht/libpng/powerpc
/source/Irrlicht/libpng/riscv

/source/Irrlicht/libpng/.appveyor.yml
/source/Irrlicht/libpng/.cmake-format.yaml
/source/Irrlicht/libpng/.editorconfig
/source/Irrlicht/libpng/.editorconfig-checker.json
/source/Irrlicht/libpng/.gitignore
/source/Irrlicht/libpng/.markdownlint.yml
/source/Irrlicht/libpng/.yamllint.yml
/source/Irrlicht/libpng/.github
/source/Irrlicht/libpng/aclocal.m4
/source/Irrlicht/libpng/autogen.sh
/source/Irrlicht/libpng/compile
/source/Irrlicht/libpng/config.guess
/source/Irrlicht/libpng/config.h.in
/source/Irrlicht/libpng/config.sub
/source/Irrlicht/libpng/configure
/source/Irrlicht/libpng/configure.ac
/source/Irrlicht/libpng/depcomp
/source/Irrlicht/libpng/INSTALL
/source/Irrlicht/libpng/install-sh
/source/Irrlicht/libpng/libpng-config.in
/source/Irrlicht/libpng/libpng.pc.in
/source/Irrlicht/libpng/ltmain.sh
/source/Irrlicht/libpng/Makefile.am
/source/Irrlicht/libpng/Makefile.in
/source/Irrlicht/libpng/missing
/source/Irrlicht/libpng/test-driver

/source/Irrlicht/zlib/make_vms.com

/bin/MacOSX
/irrlicht.patch
/premake*.lua
/.vscode/
